body {
    background-color: #C0D6E8;
    font-family: sans-serif;
    color: #A34343;
    padding: 6px;
}

nav {
    background-color: #E9C874;
    color: #A34343;
    margin: 6px;
    padding: 6px;
    font-size: large;
}

ul {
    list-style-type: none;
    font-weight: bold;
}

li {
    padding: 6px;
    font-weight: bold;
}

header {
    background-color: #A34343;
    padding: 18px;
    margin: 6px;
}
main {
    background-color: #FBF8DD;
    min-height: 300px;
    padding: 6px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px;
    background-color: #A34343;
    margin: 6px;
    padding: 6px;
}

#mainarticle {
    flex-direction: column;
    align-items: flex-start;
}

article {
    padding: 6px;
    margin: 6px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.caption {
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #A34343;
    font-weight: bold;
}

#gallerybox {
    display: flex;
    flex-direction: row;
}