@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
  padding: 18px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

header {
  padding: 18px;
}

h1 a {
  color: red;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.bg-primary {
  background-color: #326dee;
}

.text-primary {
  color: #326dee;
}

.bg-primary-light-2 {
  background-color: rgb(91, 138.2, 241.4);
}

.bg-primary-light-4 {
  background-color: rgb(132, 167.4, 244.8);
}

.bg-primary-light-6 {
  background-color: rgb(173, 196.6, 248.2);
}

.bg-primary-light-8 {
  background-color: rgb(214, 225.8, 251.6);
}

.bg-primary-dark-2 {
  background-color: rgb(40, 87.2, 190.4);
}

.bg-primary-dark-4 {
  background-color: rgb(30, 65.4, 142.8);
}

.bg-primary-dark-6 {
  background-color: rgb(20, 43.6, 95.2);
}

.bg-primary-dark-8 {
  background-color: rgb(10, 21.8, 47.6);
}

.bg-secondary {
  background-color: #1ac888;
}

.text-secondary {
  color: #1ac888;
}

.bg-error {
  background-color: #d32752;
}

.text-error {
  color: #d32752;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info {
  color: #f6c31c;
}

.bg-blue {
  background-color: #1919e6;
}

.text-blue {
  color: #1919e6;
}

.bg-red {
  background-color: #e61919;
}

.text-red {
  color: #e61919;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-yellow {
  color: #e6e619;
}

.bg-green {
  background-color: #19e635;
}

.text-green {
  color: #19e635;
}

.bg-orange {
  background-color: #ffa600;
}

.text-orange {
  color: #ffa600;
}

.text-hover-orange-light-1:hover {
  color: rgb(255, 174.9, 25.5);
}

.bg-purple {
  background-color: #9900ff;
}

.text-purple {
  color: #9900ff;
}

.bg-gray {
  background-color: #808080;
}

.text-gray {
  color: #808080;
}

.text-hover-white:hover {
  color: white;
}

.text-white {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
  border: 0;
}
.btn-primary:hover {
  background-color: rgb(73.5472972973, 125.7702702703, 239.9527027027);
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
  color: light-comp(#326dee);
}
.btn-complement-primary:hover {
  color: #326dee;
  background-color: light-comp(#326dee);
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
  border: 0;
}
.btn-secondary:hover {
  background-color: rgb(28.9336283186, 222.5663716814, 151.3451327434);
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
  border: 0;
}
.btn-error:hover {
  background-color: rgb(218.418, 57.082, 97.416);
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
  border: 0;
}
.btn-info:hover {
  background-color: rgb(246.9724576271, 201.4830508475, 52.5275423729);
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
  color: light-comp(#9900ff);
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: light-comp(#9900ff);
}

 .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: flex-end;
}
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar .dropdown {
  float: left;
  overflow: hidden;
}
.navbar .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.navbar {
  /* Dropdown content (hidden by default) */
}
.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #E9C874;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar {
  /* Links inside the dropdown */
}
.navbar .dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar {
  /* Show the dropdown menu on hover */
}
.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.br {
  border-radius: 20px;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}