@use 'sass:color';
@use "../variables" as v;

@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: v.$base-padding v.$base-padding * 2;
    border-radius: v.$base-border-radius;
    background-color: $bg-color;
}
.btn {
    @include btn;
}

@each $key, $val in v.$colors {
    .btn-#{$key} {
        @include btn($val);
        border: 0;
        &:hover {
            background-color: color.adjust($val, $lightness: 5%);
        }
    }

    .btn-outlined-#{$key} {
        @include btn(#fff);
        border: v.$base-border-thickness solid $val;
        &:hover {
            background-color: $val;
        }
    }

    .btn-complement-#{$key} {
        @include btn($val);
        color: light-comp($val);
        &:hover {
            color: $val;
            background-color: light-comp($val);
        }
    }
}
