@use "../variables" as v;

.card {
    display: block;
    padding: v.$base-padding;
    border: v.$base-border-thickness solid #ddd;
    box-shadow: v.$base-box-shadow;

    .card-title {
        font-size: v.$base-font-size;
        padding-bottom: v.$base-padding;
        font-weight: bold;
    }

    .card-body {
        font-size: v.$base-font-size;

        a {
            text-decoration: underline;
        }
    }
}


