//variables and functions
@use 'variables' as v;

//base
@use 'base';

//colors
@use 'colors';

//component 
@use 'components/navbar';
@use 'components/card';
@use 'components/button';

//utilities


@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
     
    ol {
        flex-direction: column;
        max-width: 50%;
    }
}

