//variables and functions
@use 'variables' as v;

//base
@use 'base';

//component 
@use 'navbar';

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
     
    ol {
        flex-direction: column;
        max-width: 50%;
    }
}

